/* You can add global styles to this file, and also import other style files */
#d {
    background-color:black;
  }
  .wwdc{
    position: absolute;
    top:12em;
    left: 12em;
  }
  .centered {
    position: absolute;
    margin: auto;
    top: 62em;
    bottom: 0;
    left: 10em;
    right: 0;
  }
  
  #container {
    width: 768px;
    height: 768px;
  }
  
  #drawing_canvas {
    position: absolute;
  }
  
  .logo {
    width: 8em;
    position: absolute;
    left: 1em;
    top: 1em;
  }
  
  span {
    display: block;
    position: absolute;
    top: calc(50% - 10em);
    left: calc(50% - 10em);
    width: 20em;
    height: 20em;
  }
  
  span.spin {
    -webkit-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
  }
  
  span.spin-reverse {
    -webkit-animation: spin 30s linear infinite;
    animation: spin 30s linear infinite;
  }
  
  span.pulse {
    -webkit-animation: spin-pulse 20s linear infinite;
    animation: spin-pulse 20s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotateZ(0);
      transform: rotateZ(0);
    }
    100% {
      -webkit-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      -webkit-transform: rotateZ(0);
      transform: rotateZ(0);
    }
    100% {
      -webkit-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
    }
  }
  @-webkit-keyframes spin-pulse {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
      transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(0.9) rotateZ(180deg);
      transform: scale(0.9) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
      transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes spin-pulse {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
      transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(0.9) rotateZ(180deg);
      transform: scale(0.9) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
      transform: scale(1) rotateZ(360deg);
    }
  }
  body {
    background: #fff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 24px;
  }
  
  .circle {
    border-radius: 50%;
    left: calc(50% - 6.25em);
    top: calc(50% - 12.5em);
    -webkit-transform-origin: 50% 12.5em;
    transform-origin: 50% 12.5em;
  }
  
  .squircle {
    border-radius: 25%;
  }
  
  .circle,
  .squircle {
    width: 12.5em;
    height: 12.5em;
    position: absolute;
    border-top: 0.1em solid rgba(255, 255, 255, 0.4);
  }
  
  .large.circle {
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
  }
  
  .small {
    width: 4em;
    height: 4em;
    left: calc(50% - 2em);
    top: calc(50% - 15em);
    -webkit-transform-origin: 50% 15em;
    transform-origin: 50% 15em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
  }
  
  .one {
    background: rgba(16, 63, 236, 0.75);
    -webkit-transform: rotateZ(225deg);
    transform: rotateZ(225deg);
  }
  
  .two {
    background: rgba(37, 172, 162, 0.75);
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }
  
  .three {
    background: rgba(233, 124, 32, 0.75);
    -webkit-transform: rotateZ(135deg);
    transform: rotateZ(135deg);
  }
  
  .four {
    background: rgba(235, 67, 35, 0.75);
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
  
  .five {
    background: rgba(190, 28, 65, 0.75);
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }
  
  .six {
    background: rgba(208, 57, 159, 0.75);
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  
  .seven {
    background: rgba(150, 32, 198, 0.75);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
  }
  
  .eight {
    background: rgba(95, 33, 203, 0.75);
    -webkit-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
  }
  
  .small.squircle {
    background: none;
    box-shadow: none;
  }
  .small.squircle::after {
    content: "";
    border-radius: 25%;
    width: 100%;
    height: 100%;
    position: absolute;
    background: red;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    box-shadow: -0.25em 0.25em 0.5em rgba(0, 0, 0, 0.2);
  }
  .small.squircle.two::after {
    background: rgba(37, 172, 162, 0.75);
  }
  .small.squircle.four::after {
    background: rgba(235, 67, 35, 0.75);
  }
  .small.squircle.six::after {
    background: rgba(208, 57, 159, 0.75);
  }
  .small.squircle.eight::after {
    background: rgba(95, 33, 203, 0.75);
  }
  
  .large.squircle {
    position: absolute;
    background: rgba(30, 7, 66, 0.65);
    border: none;
    left: calc(50% - 7.5em);
    top: calc(50% - 7.5em);
    width: 15em;
    height: 15em;
    -webkit-transform: none;
    transform: none;
  }
  .large.squircle.one {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }
  
  .content {
    text-align: center;
  }
  .content svg {
    fill: #fff;
    width: 3em;
    margin: 1.25em auto 1em;
  }
  .content h1 {
    font-weight: lighter;
    font-size: 1.75em;
    margin: 0.25em auto 1em;
    max-width: 6em;
  }
  
  .message {
    position: absolute;
    left: 1em;
    bottom: 1em;
    right: 0;
    color: #222;
    text-align: left;
  }
  .message a {
    text-decoration: none;
    font-weight: bold;
    color: #999;
  }
  
  @keyframes moveImage {
    from {
      visibility: visible;
      top: -3.4em;
      left: 3.4em;
      z-index: 9;
    }
    to {
      position: absolute;
      visibility: visible;
      left: 9.9em;
      top: -3.3em;
      z-index: 9;
    }
  }
  
  @keyframes moveImage2 {
    from {
      visibility: visible;
      top: -3.4em;
      left: 3.4em;
      z-index: 9;
    }
    to {
      position: absolute;
      visibility: visible;
      left: 9.9em;
      top: -3.3em;
      z-index: 9;
    }
  }
  
  .moveSelectedImage{
    position: absolute;
    visibility: hidden;
    top: -3.4em;
    left: 3.4em;
    z-index: 3;
    animation-delay: 15s;
    animation-duration: 3s;
    animation-name: moveImage;
  }
  .moveSelectedImage2{
    position: absolute;
    visibility: hidden;
    top: -3.4em;
    left: -3.4em;
    z-index: 3;
    animation-delay: 15s;
    animation-duration: 3s;
    animation-name: moveImage2;
  }
  .hiddenSelectedImage{
    visibility:hidden;
  }
  
  @keyframes animeFinalImage {
    from {
      top: -10em;
      left: 10em;
      width:100px;
      height: 100px;
      border-radius: 100%;
    }
    to {
      position: relative;
      width:200px;
      height: 200px;
      margin-top: 10px;
      border-radius: 20px;
    }
  }
  
  .finalImage{
    width:200px;
    height: 200px;
    margin-top: 10px;
    border-radius: 20px;
    animation-duration: 2s;
    animation-name: animeFinalImage;
  }
  
  @keyframes makeZoom {
    from {
      width:200px;
      height: 200px;
    }
    to {
      width:400px;
      height: 400px;
    }
  }
  
  .zoom{
    width:400px;
    height: 400px;
    animation-duration: 4s;
    animation-name: makeZoom;
  }
  
  
  .stage {
    margin-right: 40em;
    position: relative;
    top: 0em;
    transform-style: preserve-3d;
  }
  
  .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
    animation-fill-mode: forwards;
    transform: rotateY(40deg) rotateX(33deg) translateZ(0);
  }
  
  .layer:after {
    font: 100px/0.65 'Pacifico', 'Kaushan Script', Futura, 'Roboto', 'Trebuchet MS', Helvetica, sans-serif;
    content: 'Parrainage\A \A 2019-2020';
    white-space: pre;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 10px;
    color: whitesmoke;
    letter-spacing: -2px;
    text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
  }
  
  .layer:nth-child(1):after {
    transform: translateZ(0px);
  }
  
  .layer:nth-child(2):after {
    transform: translateZ(-1.5px);
  }
  
  .layer:nth-child(3):after {
    transform: translateZ(-3px);
  }
  
  .layer:nth-child(4):after {
    transform: translateZ(-4.5px);
  }
  
  .layer:nth-child(5):after {
    transform: translateZ(-6px);
  }
  
  .layer:nth-child(6):after {
    transform: translateZ(-7.5px);
  }
  
  .layer:nth-child(7):after {
    transform: translateZ(-9px);
  }
  
  .layer:nth-child(8):after {
    transform: translateZ(-10.5px);
  }
  
  .layer:nth-child(9):after {
    transform: translateZ(-12px);
  }
  
  .layer:nth-child(10):after {
    transform: translateZ(-13.5px);
  }
  
  .layer:nth-child(11):after {
    transform: translateZ(-15px);
  }
  
  .layer:nth-child(12):after {
    transform: translateZ(-16.5px);
  }
  
  .layer:nth-child(13):after {
    transform: translateZ(-18px);
  }
  
  .layer:nth-child(14):after {
    transform: translateZ(-19.5px);
  }
  
  .layer:nth-child(15):after {
    transform: translateZ(-21px);
  }
  
  .layer:nth-child(16):after {
    transform: translateZ(-22.5px);
  }
  
  .layer:nth-child(17):after {
    transform: translateZ(-24px);
  }
  
  .layer:nth-child(18):after {
    transform: translateZ(-25.5px);
  }
  
  .layer:nth-child(19):after {
    transform: translateZ(-27px);
  }
  
  .layer:nth-child(20):after {
    transform: translateZ(-28.5px);
  }
  
  .layer:nth-child(n+10):after {
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
  }
  
  .layer:nth-child(n+11):after {
    -webkit-text-stroke: 15px dodgerblue;
    text-shadow: 6px 0 6px #00366b, 5px 5px 5px #002951, 0 6px 6px #00366b;
  }
  
  .layer:nth-child(n+12):after {
    -webkit-text-stroke: 15px #0077ea;
  }
  
  .layer:last-child:after {
    -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);
  }
  
  .layer:first-child:after {
    color: #fff;
    text-shadow: none;
  }
  
  @keyframes ಠ_ಠ {
    100% {
      transform: rotateY(-40deg) rotateX(-43deg);
    }
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    opacity: 0.5;
    color: white;
    text-align: center;
    font-family: cursive;
  }
  